* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

@mixin px($sizel, $sizer) {
    padding-left: $sizel;
    padding-right: $sizer;
}

@mixin py($sizet, $sizeb) {
    padding-top: $sizet;
    padding-bottom: $sizeb;
}

@mixin mx($sizel, $sizer) {
    margin-left: $sizel;
    margin-right: $sizer;
}

@mixin my($sizet, $sizeb) {
    margin-top: $sizet;
    margin-bottom: $sizeb;
}

@mixin wrap($width, $wrapmr, $wrapml) {
    width: $width;
    margin-right: $wrapmr;
    margin-left: $wrapml;
}

@mixin font($fw, $fs, $lh, $color, $textdecor) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $color;
    text-decoration: $textdecor;
}

.bcg-linear-gradient {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
}

.wrap {
    @include wrap(315px, auto, auto);
}

.link-services {
    @include font(700, 14px, 17px, #24A3FF, none);
}

.arrow {
    border: 2px solid #24A3FF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.title-services {
    @include my(0, 10px);
}

.title {
    @include font(700, 30px, 37px, black, none);
    @include my(0, 30px);
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.square {
    display: inline-block;
    @include px(23px, 23px);
    @include py(23px, 23px);
    @include my(0, 30px);
    background: #FFFFFF;
    border-radius: 24px;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-title {
    @include font(700, 22px, 27px, #24A3FF, none);
    @include my(0, 15px);
}

.block-text {
    @include font(400, 16px, 26px, #FFFFFF, none);
}

.block {
    @include my(0, 30px);
}

.block:nth-last-child(1) {
    @include my(0, 0);
}

.main-content {
    padding-bottom: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.main-content:before {
    content: '';
    border-radius: 0 0 12px 12px;
    background-color: #CACADB;
    height: 10px;
    width: calc(100% - 40px);
    position: absolute;
    bottom: -10px;
}

.main-content:after {
    content: '';
    border-radius: 0 0 12px 12px;
    background-color: #E7E7F2;
    height: 10px;
    width: calc(100% - 80px);
    position: absolute;
    bottom: -20px;
}

.publications-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.publication-card-img {
    width: 315px;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
}

// начала миксина

@media (min-width: 375px) and (max-width: 768px) {
    .wrap {
        width: 315px;
    }

    .partnerlogo-list {
        display: flex;
        flex-direction: column;
    }
    
    .partnerlogo-link {
        width: 100%;
        height: 120px;
    }

    .partnerlogo-link:nth-child(n+7)
    {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .img-team {
        width: 315px;
        height: 500px;
        border-radius: 12px 12px 0px 0px;
    }

    .publications-cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrap {
        width: 648px;
    }

    .title {
        @include font(700, 38px, 46px, black, none);
    }
    .blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 60px;
        @include my(0, 0);
    }

    .block {
        width: 294px;
        margin-bottom: 0;
    }

    .partnerlogo-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .partnerlogo-link {
        width: 33.33%;
        height: 120px;
    }

    .card {
        display: flex;
        flex-direction: column;
    }
    
    .img-team {
        width: 648px;
        height: 500px;
        border-radius: 12px 12px 0px 0px;
    }

    .publications-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: initial;
        gap: 30px;
    }

    .publication-card {
        width: 309px;
    }

    .big-card {
        width: 648px;
    }

    .publication-card-img {
        width: 309px;
        height: 200px;
        border-radius: 8px 8px 0px 0px;
    }

    .publication-card-big {
        width: 648px;
    }

    .partnerlogo-list .partnerlogo-link {
        display: flex;
    }
}

@media (min-width: 1024px){
    .wrap {
        width: 904px;
    }

        .blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 60px;
        @include my(0, 0);
    }

    .title {
        @include font(700, 38px, 46px, black, none);
    }

    .block {
        width: 261px;
        @include my(0, 0);
    }

    .partnerlogo-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .partnerlogo-link {
        width: 25%;
        height: 120px;
    }

    .card {
        display: flex;
        flex-direction: row;
    }
    
    .img-team {
        width: 400px;
        border-radius: 12px 0px 0px 12px;
    }

    .publications-cards {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .publication-card-img {
        width: 281px;
        height: 200px;
        border-radius: 8px 8px 0px 0px;
    }
}

@media (min-width: 1440px) {
    .wrap {
        width: 1320px;
    }

    .title {
        @include font(700, 38px, 46px, black, none);
    }

    .block {
        width: 400px;
    }

    .partnerlogo-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .partnerlogo-link {
        width: 25%;
        height: 120px;
    }
    
    .img-team {
        width: 400px;
        border-radius: 12px 0px 0px 12px;
    }

    .publications-cards {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .publication-card-img {
        width: 420px;
        height: 200px;
        border-radius: 8px 8px 0px 0px;
    }
}

@media (min-width: 1920px) {
    .wrap {
        width: 1600px;
    }

    .title {
        @include font(700, 38px, 46px, black, none);
    }

    .block {
        width: 493px;
    }

    .link-services:hover {
        color: #F0145A;
        .arrow {
            border: 2px solid #F0145A;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            margin-left: 5px;
        }
    }
    .arrow:hover {
        border: 2px solid #F0145A;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 5px;
    }

.partnerlogo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partnerlogo-link {
    width: 25%;
    min-height: 120px;
}

.rounding-topleft-corner {
    border-top-left-radius: 20px;
}

.rounding-topright-corner {
    border-top-right-radius: 20px;
}

.rounding-bottomleft-corner {
    border-bottom-left-radius: 20px;
}

.rounding-bottomright-corner {
    border-bottom-right-radius: 20px;
}

.table {
    padding: 0 100px;
}


.img-team {
    width: 400px;
    height: 308px;
    border-radius: 12px 0px 0px 12px;
}

.publications-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.publication-card-img {
    width: 513px;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
}
}

//  конец миксина
.partner-list {
    padding-bottom: 60px;
}

.title-table {
    @include font(700, 14px, 17px, #323264, none);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.hillel {
    background-color: #1C4280;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wannabiz {
    background-color: #143646;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tapgerine {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.threedlook {
    background: #9E4DC3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orangear {
    background: #FD9339;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adtelligent {
    background: #E2E2E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickky {
    background: #C71C36;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eco-leasing {
    background: #DCF3F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingratek {
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-par {
    background: #282240;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artprint {
    background: #1D4568;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ultimatecard {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

//  новая секция вниз
.slider {
    margin-bottom: 60px;
}

.card {
    display: flex;
    @include my(0, 30px);
    background: #F5F5FA;
    border-radius: 12px;
}

.img-team {

}

.card-wrap {
    padding: 30px;
}

.title-team{
@include my(0, 5px);
}

.card .link-team,
.title-team .link-team {
    @include font(700, 14px, 17px, #24A3FF, none);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title-card {
    @include font(700, 16px, 20px, #B3B3BA, none);
    @include my(0, 6px);
}

.text {
    @include font(400, 14px, 22px, #B3B3BA, none);
}

.circle {
    display: flex;
    justify-content: center;
    gap: 15px;
}
//  новая секция вверх

//  публикация карточки вниз
.section-publications {
    @include py(30px, 30px);
}

.bcg-section-publications {
    background: #F5F5FA;
}


.publication-card-title {
    @include font(700, 12px, 15px, #B3B3BA, none);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.publication-card-text {
    @include font(400, 14px, 22px, #000000, none);
}

.publication-card {
    background: white;
    border-radius: 8px;
    .title-team {
        margin-bottom: 15px;
    }
    .publication-card-title {
        margin-bottom: 15px;
    }
}

.line {
    border-top: 4px solid #E6E6F0;
    margin-bottom: 15px;
}

// публикация карточки вврех

@import "footer";
@import "contact-form";